In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [20]:
cleaned_dataset = pd.read_csv('../cleaned_titanic_dataset.csv')

In [21]:
cleaned_dataset.head(5)

,Unnamed: 0,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,FamilyCount,CabinInd
0,0,0,3,0,22.0,1,0,A/5 21171,7.2500,1,0
1,1,1,1,1,38.0,1,0,PC 17599,71.2833,1,1
2,2,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,0,0
3,3,1,1,1,35.0,1,0,113803,53.1000,1,1
4,4,0,3,0,35.0,0,0,373450,8.0500,0,0

In [22]:
features = cleaned_dataset.drop('Survived', axis=1, )
target = cleaned_dataset['Survived']

In [23]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features, target, test_size=0.4, random_state=123)
Xval, Xtest, Yval, Ytest = train_test_split(Xtest, Ytest, test_size=0.5,random_state=234)

In [25]:
for dataset in [Ytrain, Ytest,Yval]:
    print(round(len(dataset)/len(target), 2))

0.6
0.2
0.2

In [26]:
Xtrain.to_csv('../../train_features.csv')
Xtest.to_csv('../../test_features.csv')
Xval.to_csv('../../validation_features.csv')

Ytrain.to_csv('../../training_target.csv')
Ytest.to_csv('../../test_target.csv')
Yval.to_csv('../../validation_target.csv')