In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
titanic = pd.read_csv("cleaned_titanic.csv")

In [3]:
titanic.head()

   Survived  Pclass  Sex   Age     Fare  Family_Count  CabinIndicator
0         0       3    1  22.0   7.2500             1               0
1         1       1    0  38.0  71.2833             1               1
2         1       3    0  26.0   7.9250             0               0
3         1       1    0  35.0  53.1000             1               1
4         0       3    1  35.0   8.0500             0               0

In [4]:
features = titanic.drop('Survived', axis=1)
target = titanic['Survived']

In [7]:
## Splitting the dataset into training, test and validation set
X_train, X_test, Y_train, Y_test = train_test_split(features, target, test_size=0.4, random_state=1234)

In [8]:
X_val, X_test, Y_val, Y_test = train_test_split(X_test, Y_test, test_size=0.5, random_state=345)

In [10]:
for dataset in [Y_train, Y_val, Y_test]:
    print(round(len(dataset)/len(target), 2))

0.6
0.2
0.2

In [13]:
## Write the output file
X_train.to_csv('training_features.csv', index=False)
X_test.to_csv('test_features.csv', index=False)
X_val.to_csv('validation_features.csv', index=False)

Y_train.to_csv('training_labels.csv', index=False)
Y_test.to_csv('test_labels.csv', index=False)
Y_val.to_csv('validation_labels.csv', index=False)