## Various ways of importing data in Python

In [2]:
# Importing pandas library with alias as pd
import pandas as pd

## Panda Series

In [6]:
# Series from list
capitals = ["Ottawa", "Kathmandu", "New Delhi", "Washington"]
capitals_series = pd.Series(capitals)
capitals_series

0        Ottawa
1     Kathmandu
2     New Delhi
3    Washington
dtype: object

In [7]:
type(capitals_series)

pandas.core.series.Series

## Panda's DataFrame

In [11]:
data = {"country": ["France", "Nepal", "USA", "Canada", "South Korea", "India"],
        "capital": ["Paris", "Kathmandu", "WashingtonD.C", "Ottawa", "Seoul", "NewDelhi"],
        "population": [9.12, 3.12, 7.44, 3.5, 5.6, 2.3]}

In [14]:
data_frame = pd.DataFrame(data)
data_frame

       country        capital  population
0       France          Paris        9.12
1        Nepal      Kathmandu        3.12
2          USA  WashingtonD.C        7.44
3       Canada         Ottawa        3.50
4  South Korea          Seoul        5.60
5        India       NewDelhi        2.30

In [15]:
type(data_frame)

pandas.core.frame.DataFrame

In [19]:
## Panda's Dataframe from list and labels

data = [["France",  7.1, 2.2,],
           ["Nepal",  7.1, 2.2,],
           ["India",  7.1, 2.2,],
           ["USA",  7.1, 2.2,],]
labels = ["country","population","gdp"]
dataframe = pd.DataFrame(data, columns=labels)
dataframe

  country  population  gdp
0  France         7.1  2.2
1   Nepal         7.1  2.2
2   India         7.1  2.2
3     USA         7.1  2.2

In [20]:
type(dataframe)

pandas.core.frame.DataFrame

## Import data using csv file

In [21]:
csv_data_frame = pd.read_csv("brics.csv")
csv_data_frame

        country    capital    gdp  literacy  expectancy  population
0        Brazil   Brasilia   2750     0.944        76.8      210.87
1        Russia     Moscow   1658     0.997        72.7      143.96
2         India  New Delhi   3202     0.721        68.8     1367.09
3         China    Beijing  15270     0.964        76.4     1415.05
4  South Africa   Pretoria    370     0.943        63.6       57.40

## Import data using excel file

In [22]:
excel_data_frame = pd.read_excel("brics.xlsx")
excel_data_frame

        country    capital    gdp  literacy  expectancy  population
0        Brazil   Brasilia   2750     0.944        76.8      210.87
1        Russia     Moscow   1658     0.997        72.7      143.96
2         India  New Delhi   3202     0.721        68.8     1367.09
3         China    Beijing  15270     0.964        76.4     1415.05
4  South Africa   Pretoria    370     0.943        63.6       57.40

In [24]:
# Importing data containing sheets
excel_data_frame_with_sheets = pd.read_excel("brics.xlsx", sheet_name="Summits")
excel_data_frame_with_sheets

,summit,date,host,leader,location
0,1st,"June 16th, 2009",Russia,Dmitry Medvedev,Yekaterinburg (Sevastianov's House)
1,2nd,"April 15th, 2010",Brazil,Luiz Inácio Lula da Silva,Brasília (Itamaraty Palace)
2,3rd,"April 14th, 2011",China,Hu Jintao,Sanya (Sheraton Sanya Resort)
3,4th,"March 29th, 2012",India,Manmohan Singh,New Delhi (Taj Mahal Hotel)
4,5th,"March 26th – 27th, 2013",South Africa,Jacob Zuma,Durban (Durban ICC)
5,6th,"July 14th – 17th, 2014",Brazil,Dilma Rousseff,Fortaleza (Centro de Eventos do Ceará)
6,7th,"July 8th – 9th, 2015",Russia,Vladimir Putin,Ufa (Congress Hall)
7,8th,"October 15th – 16th, 2016",India,Narendra Modi,Benaulim (Taj Exotica)
8,9th,"September 3th – 5th, 2017",China,Xi Jinping,Xiamen (Xiamen International Conference Center)
9,10th,"July 25th – 27th, 2018",South Africa,Cyril Ramaphosa,Johannesburg (Sandton Convention Centre)
10,11th,"November 13th – 14th, 2019",Brazil,Jair Bolsonaro,Brasília (Itamaraty Palace)
11,12th,"November 17th, 2020",Russia,Vladimir Putin,Saint Petersburg (video conference)
12,13th,TBA,India,Narendra Modi,New Delhi