In [1]:
import pandas as pd

In [3]:
vehicles = pd.read_csv("vehicles.csv")
vehicles

,citympg,cylinders,displacement,drive,highwaympg,make,model,class,year,transmissiontype,transmissionspeeds,co2emissions
0,14.0,6,4.1,2-Wheel Drive,19.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4,555.437500
1,14.0,8,5.0,2-Wheel Drive,20.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4,555.437500
2,18.0,8,5.7,2-Wheel Drive,26.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4,484.761905
3,21.0,6,4.3,Rear-Wheel Drive,31.0,Cadillac,Fleetwood/DeVille (FWD),Large Cars,1984,Automatic,4,424.166667
4,14.0,8,4.1,Rear-Wheel Drive,19.0,Cadillac,Brougham/DeVille (RWD),Large Cars,1984,Automatic,4,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...
36974,17.0,8,4.7,Rear-Wheel Drive,25.0,Mercedes-Benz,SL550,Two Seaters,2018,Automatic,9,442.000000
36975,16.0,8,6.2,Rear-Wheel Drive,25.0,Chevrolet,Corvette,Two Seaters,2018,Manual,7,466.000000
36976,15.0,8,6.2,Rear-Wheel Drive,22.0,Chevrolet,Corvette,Two Seaters,2018,Manual,7,503.000000
36977,12.0,12,6.5,Rear-Wheel Drive,16.0,Ferrari,812 Superfast,Two Seaters,2018,Automatic,7,661.000000
36978,13.0,12,6.0,Rear-Wheel Drive,22.0,Mercedes-Benz,AMG SL65,Two Seaters,2018,Automatic,7,546.000000

In [4]:
vehicles.head()

,citympg,cylinders,displacement,drive,highwaympg,make,model,class,year,transmissiontype,transmissionspeeds,co2emissions
0,14.0,6,4.1,2-Wheel Drive,19.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4,555.437500
1,14.0,8,5.0,2-Wheel Drive,20.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4,555.437500
2,18.0,8,5.7,2-Wheel Drive,26.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4,484.761905
3,21.0,6,4.3,Rear-Wheel Drive,31.0,Cadillac,Fleetwood/DeVille (FWD),Large Cars,1984,Automatic,4,424.166667
4,14.0,8,4.1,Rear-Wheel Drive,19.0,Cadillac,Brougham/DeVille (RWD),Large Cars,1984,Automatic,4,555.437500

In [6]:
response = 'co2emissions'
y = vehicles[[response]]
y.head()

   co2emissions
0    555.437500
1    555.437500
2    484.761905
3    424.166667
4    555.437500

In [8]:
predictors = list(vehicles.columns)
predictors

['citympg',
 'cylinders',
 'displacement',
 'drive',
 'highwaympg',
 'make',
 'model',
 'class',
 'year',
 'transmissiontype',
 'transmissionspeeds',
 'co2emissions']

In [9]:
predictors.remove('co2emissions')
predictors

['citympg',
 'cylinders',
 'displacement',
 'drive',
 'highwaympg',
 'make',
 'model',
 'class',
 'year',
 'transmissiontype',
 'transmissionspeeds']

In [10]:
x = vehicles[predictors]
x.head()

,citympg,cylinders,displacement,drive,highwaympg,make,model,class,year,transmissiontype,transmissionspeeds
0,14.0,6,4.1,2-Wheel Drive,19.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4
1,14.0,8,5.0,2-Wheel Drive,20.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4
2,18.0,8,5.7,2-Wheel Drive,26.0,Buick,Electra/Park Avenue,Large Cars,1984,Automatic,4
3,21.0,6,4.3,Rear-Wheel Drive,31.0,Cadillac,Fleetwood/DeVille (FWD),Large Cars,1984,Automatic,4
4,14.0,8,4.1,Rear-Wheel Drive,19.0,Cadillac,Brougham/DeVille (RWD),Large Cars,1984,Automatic,4

## Splitting the data using Random Sampling

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x, y)

In [14]:
Xtrain.shape

(27734, 11)

In [16]:
Ytrain.shape

(27734, 1)

In [17]:
Xtest.shape

(9245, 11)

In [18]:
Ytest.shape

(9245, 1)

In [22]:
## Splitting the train test ratio explicity
Xtrain, Ytrain, Xtest, Ytest = train_test_split(x, y, test_size = 0.4)
Xtest.shape

(22187, 1)

## Splitting the dataset using Stratified Random Sampling

In [24]:
## ORIGINAL WAY
from sklearn.model_selection import train_test_split

In [25]:
Xtrain, Ytrain, Xtest, Ytest = train_test_split(x, y, test_size = 0.1, random_state=1234)

In [32]:
Xtest['drive'].value_counts(normalize=True)

Rear-Wheel Drive     0.359654
Front-Wheel Drive    0.339913
All-Wheel Drive      0.243916
4-Wheel Drive        0.039751
2-Wheel Drive        0.016766
Name: drive, dtype: float64

In [36]:
x['drive'].value_counts(normalize=True)

Rear-Wheel Drive     0.356797
Front-Wheel Drive    0.353552
All-Wheel Drive      0.239893
4-Wheel Drive        0.036480
2-Wheel Drive        0.013278
Name: drive, dtype: float64

In [28]:
from sklearn.model_selection import train_test_split

In [33]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x, y, test_size=0.1, random_state=1234, stratify=x['drive'])

In [37]:
Xtest['drive'].value_counts(normalize=True)

Rear-Wheel Drive     0.356950
Front-Wheel Drive    0.353434
All-Wheel Drive      0.239859
4-Wheel Drive        0.036506
2-Wheel Drive        0.013250
Name: drive, dtype: float64